<%= form_for @restaurant do |field| %>
  <div class="form-group">
    <%= field.label :name %>
    <%= field.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= field.label :description %>
    <%= field.text_area :description, rows: 5, :class => 'form-control' %>
  </div>
  <%= field.submit :class => 'btn btn-primary' %>
<% end %>
