  <% if @restaurants.any? %>
    <% @restaurants.each do |restaurant| %>
    <div class="row">
      <div class="col-md-1">
        <div style="margin-top: 20px;"><%= image_tag restaurant.image.url(:thumb), :class => 'img-responsive' %></div>
      </div>
      <div class="col-md-10">
        <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p><%= restaurant.description %></p>

        <% if restaurant.reviews.any? %>
          <h3>Reviews</h3>
          <p><b>Average Rating:</b> <%= star_rating(restaurant.average_rating) %></p>
          <% restaurant.reviews.each do |review| %>
          <div class="well">
            <small class="text-muted"><%= review.user.email %></small>
            <p><%= review.thoughts %></p>
            <div>
              <%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link btn btn-primary btn-xs' %>
              <span class="endorsements_count badge"><%= review.endorsements.count %></span>
              <%= 'endorsement'.pluralize(review.endorsements.count) %>
            </div>
          </div>
          <% end %>
        <% end %>

        <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <% if restaurant.user == current_user %>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant), :class => 'btn btn-default' %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, :class => 'btn btn-default' %>
        <% end %>

        <% if current_user %>
          <% if current_user.has_reviewed?(restaurant) %>
            <%= link_to "Review #{restaurant.name}", "", :class => 'btn btn-default', :disabled => 'disabled' %>
          <% else %>
            <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant), :class => 'btn btn-default' %>
          <% end %>
        <% end %>
        </div>
        <hr>
      </div>
    </div>
    <% end %>
  <% else %>
    <h1>No restaurants yet</h1>
  <%end%>

  <%= link_to "Add a restaurant", new_restaurant_path, :class => 'btn btn-primary' %>
